body {
    font-family: Arial, sans-serif;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

form {
    margin: 2rem 10px;
    text-align: right;
    width: 20rem;
    float: right;
}

form input {
    margin-bottom: 10px;
    border-radius: 5px;
}

.question {
    font-size: 18px;
    margin-bottom: 10px;
    width: fit-content;
    line-height: 3rem;
}

.options label {
    /* display: block; */
    margin-bottom: 5px;
    line-height: 10px;
}